name: Release

on:
  release:
    types: [published]

jobs:
  build-linux:
    permissions:
      contents: write
      actions: read
    uses: ./.github/workflows/build-linux.yml
    with:
      build_type: "Release"
      upload_package: true

  upload-release:
    needs: [build-linux]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read

    steps:
      - name: Get Release Version
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Using version: $VERSION"

      - name: Download Linux Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: GameEngine-Linux-Release
          path: release-linux

      - name: Create Release Packages
        run: |
          cd release-linux
          zip -r ../GameEngine-Linux-${{ steps.version.outputs.version }}.zip *

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            GameEngine-Linux-${{ steps.version.outputs.version }}.zip
